<ion-content>
  
  <div id="header"style="background-image: url('assets/fondo.png');">
    <div id="app-bar">
      <ion-icon name="arrow-back"routerLink="/menu"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/uab_icono.png" alt="logo" />
    </div>
    
  </div>
  <div>
    <img src="assets/icon/fondo.png" alt="fondo">
  </div>

  

  <ion-card>
    
    
    <ion-card-content>
      
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Select fruit">
            <ion-select-option value="bananas">2019-1</ion-select-option>
            <ion-select-option value="bananas">2019-2</ion-select-option>
            <ion-select-option value="bananas">2020-1</ion-select-option>
            <ion-select-option value="bananas">2020-2</ion-select-option>

            <ion-select-option value="apples">2021-1</ion-select-option>
            <ion-select-option value="oranges">2021-2</ion-select-option>
            <ion-select-option value="bananas">2022-1</ion-select-option>
            <ion-select-option value="bananas">2022-2</ion-select-option>
            <ion-select-option value="bananas">2023-1</ion-select-option>
            <ion-select-option value="bananas">2022-2</ion-select-option>
            <ion-select-option value="bananas">2023-1</ion-select-option>
            <ion-select-option value="bananas">2022-2</ion-select-option>
            

          </ion-select>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->




<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registros</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
