<ion-content>
  
  <div id="header"style="background-image: url('assets/fondo.png');">
    <div id="app-bar">
      <ion-icon name="arrow-back"routerLink="/login"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/uab_icono.png" alt="logo" />
    </div>
    
  </div>
  <div>
    <img src="assets/icon/fondo.png" alt="fondo">
  </div>

  <ion-card>
    
    <ion-card-content>
      
      <ion-button expand="block"  routerLink="/login" style="--background: #0e3269; color: #fff;">Registros</ion-button><br>
      <ion-button expand="block"  routerLink="/login"style="--background: #0e3269; color: #fff;">Descargar Factura</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
