<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/uab_icono.png" alt="logo" />
    </div>
    <h2>UAB Pay</h2>
  </div>

  <ion-card>
    <ion-card-content>
      <h1 style="font-size: 36px;"href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">Bienvenido :)</h1>
      <p>Facilitamos tus facturaciones.</p>

      <ion-button expand="block"  routerLink="/login"style="--background: #0e3269; color: #fff;">Iniciar Sesion</ion-button>

      <div class="line-text">
        <span class="lines"></span>
        <span class="text">Puedes seguirnos</span>
      </div>
      
      <div class="socials">
        <ion-button class="btn-fb"href="https://www.facebook.com/SoyUAB" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-int" href="https://www.instagram.com/tucuenta/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button class="btn-go"href="https://www.uab.edu.bo/" target="_blank">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
